section{
    width: 16.5rem;
    height:100vh;
    overflow-y: auto;
    background-color: #509661;
    position: relative;
    max-width: 16.5rem;
    transition: ease 300ms;

    &.collapsed{
        width: 4.2rem;
    }

    .nav-header{
        border-bottom: 1px solid #ffffff50;
        padding:1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo{
            display: flex;
            align-items: center;
            gap:0.5rem;

            img{
                height:2.5rem;
                min-width: 2.25rem;
                max-width: 100%;

                &.text{
                    max-height: 0.85rem;
                }
            }
        }

        .nav-close{
            button{
                background-color: #fff;
                min-width: 2rem;
                min-height: 2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                border:none;
                outline:none;
                border-radius: 0.4rem;
            }
        }

    }

    ul{
        padding:0;
        margin:0;

        li{
            list-style: none;

            a{
                text-decoration: none;
                display: flex;
                align-items: center;
                padding:0.75rem 1rem;
                color:#fff;
                font-size: 1rem;
                transition: ease 150ms;
                gap:0.5rem;

                svg{
                    width: 1.5rem;
                    height:1.5rem;
                    stroke:#fff;

                    &#orders{
                        fill:#fff
                    }
                }

                &:hover{
                    background-color: #ffffff70;
                    color:#333;
                }

                &:hover svg{
                    stroke: #333;

                    &#orders{
                        fill:#333
                    }
                }

                &.active{
                    background-color: #fff;
                    color:#333;

                    svg{
                        stroke:#333;

                        &#orders{
                            fill:#333
                        }
                    }
                }
            }
        }
    }

    .nav-footer{
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 1px solid #ffffff50;
        padding: 1rem;
        width: 100%;

        button{
            background: transparent;
            border:none;
            outline:none;
            font-size: 1rem;
            color:#fff;
            display: flex;
            align-items: center;
            gap:0.5rem;
        }
    }
}
